.homepage {
}

.textContainer{
  text-align: center; 
  font-family: Georgia, serif;
  color: #E5E5E5;
}

a:link {font-weight:bold; color: #8C8C8C;}
a:visited {font-weight:bold; color: #8C8C8C;}
a:hover {font-weight:bold; color: #8C8C8C;}
a:active {font-weight:bold; color: #8C8C8C;}