.textContainer {
  max-width: 700px;
  margin-top:20px;
  font-family: 'Arial';
  text-align: center; 
  color: #FFF9B3A3;
}

.textContainer h1 {
  font-size: 3em;
}

.textContainer p {
  font-size: 1.8em;

  @media only screen and (max-width: 600px) {
    font-size: 1.2em;
  }
}