.about {
  
}

.anchor {
  padding-top: 250px;
}

.title {
  margin-left: 20px;
  color: #59922E;
  font-size:30px;
  font-weight: 100;
}

.publContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
}

p {
  line-height: 1.6;
}

.video {
  width: 400px;
  height: 240px;

  @media only screen and (max-width: 600px) {
    width: 300px;
    height: 180px;
  }
}