.skillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 20px;
}

.skillGroup {
  display: flex;
  flex-direction: row;
  background-color: #1f1f1f;
  color: #59922E;
  padding: 5px 5px 5px 20px;
}

.skillGroupTitle {
  display: flex;
  width: 130px;
  font-size: 16px;
  align-items: center;
}

.skillItems {
  display: flex;
  width: 200px;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  flex-wrap: wrap;
}

.skillIcon {
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 576px) {
  .skillGroupTitle {
    width: 240px;
    margin-right: 30px;
    font-size: 20px;
  }

  .skillItems {
    width: 600px;
    gap: 40px;
  }

  .skillIcon {
    width: 55px;
    height: 55px;
  }
}