.contactIcon {
  width: 30px;
  height:30px;
  margin: 10px; 
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.github{
  background-color: black;
}

.linkedin{
}

.gmail{
  background-position: center;
  width: 40px;
}

.codingame{
}

.hackerrank{
}