.contactIcon {
  width: 30px;
  height:30px;
  margin: 10px 15px 10px 15px; 
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.github{
  background-color: black;
  background-image: url("/assets/icons/contact/git2xhdpi.png");
}

.linkedin{
  background-image: url("/assets/icons/contact/linkedinxhdpi.png");

}

.gmail{
  background-image: url("/assets/icons/contact/gmailxhdpi.png");
}

.codingame{  
  background-image: url("/assets/icons/contact/codingamexhdpi.png");
}

.hackerrank{
  background-image: url("/assets/icons/contact/hackerxhdpi.png");
}