.contactIcon {
  width: 30px;
  height:30px;
  margin-bottom: 15px; 
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.github{
  background-color: black;
  background-image: url("/assets/icons/contact/GitHub/GitHub-Mark-Light-120px-plus.png");
}

.linkedin{
  background-image: url("/assets/icons/contact/LinkedIn/LI-In-Bug.png");

}

.gmail{
  background-image: url("/assets/icons/contact/Gmail/Gmail_Icon.png");
}

.codingame{  
  background-image: url("/assets/icons/contact/CodinGame/codingame1.png");
}

.hackerrank{
  background-image: url("/assets/icons/contact/HackerRank/HackerRank_logo.png");
}