.iconContainer {
  width: 250px;
  display: flex;
  justify-content: flex-end;
}

.downloadIcon {
  width:20px;
  height:29px;
  background-image: url('/assets/images/downloadxxxhdpi.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 576px) {
  .iconContainer {
    width: 350px;
  }

  .downloadIcon {
    width:40px;
    height:39px;
  }
}