.menu {
  width: 100vw;
  position: fixed;
  top:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menuItem {
  width: 200px;
  background-color: #727272;
  text-align: center;
  font-family: Georgia, serif;
  color: #E5E5E5;
  text-decoration: none;
}

a:link {text-decoration: none; }
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}