.menuContainer {
  position: absolute;
  bottom: 0;
  background-color: #59922E;
  height: 30px;

}
.menu {
  justify-content: center;
}

.menuItem {
  text-align: center;
  color: #0d0d0d;
  font-size: 20px;
}

.menuItem a {
  color: #cccccc;
  font-weight: normal;
  font-size: 20px;
}