.menuContainer {
  position: absolute;
  top: 110px;
  background-color: #59922E;

}
.menu {
  justify-content: center;
  flex-wrap: nowrap;
}

.menuItem {
  color: #0d0d0d;
  margin:0px 5px 0px 5px;

}

.menuItem a {
  color: #cccccc;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .menuItem {
    margin:0px 10px 0px 10px;
  }

  .menuItem a {
    font-size: 20px;
  }
}