.page {
  width: 100%;
  min-height:100vh;
  display:flex;
  flex-direction: column;
  font-family: Georgia, serif;
  background-image: linear-gradient(#3F3F3F, #262626);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #E5E5E5;
}

.contentsContainer{
  display:flex;
  flex-grow:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:50px;
  padding-top:30px;
}