@font-face {
  font-family: 'Novecento';
  src: url('../assets/fonts/Font_Novecento/Novecento_WideNormal.woff') format('woff');
}

.page {
  min-height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Novecento', serif;
  background-image: url("../assets/images/bg2.png");
  background-color: #0d0d0d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  margin:0px;
}

.pageHeader {
  position: fixed;
  top:0;
  height: 190px;
  background: inherit;
  display: flex;
  justify-content: center;
  color: #FFF9B3A3;
  z-index:1;
}
.pageHeader p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 15px;
}

.contentsContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 190px;
  min-height:100vh;
}

a {text-decoration: none; color: #59922E;}
a:link {text-decoration: none; color: #59922E;}
a:visited {text-decoration: none; color: #59922E;}
a:hover {text-decoration: none; color: #59922E;}
a:active {text-decoration: none; color: #59922E;}


@media screen and (min-width: 768px) {
  .contentsContainer {
    padding: 190px 40px 50px 40px;
    }
}