.redirectIcon {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .redirectIcon {
    width:30px;
    height:30px;
  }
}