.projects {
  
}

.projectsTitle {
  width:880px;
  padding-left:40px;
  margin-top: 40px;
  color: #59922E;
  font-size: 30px;
  font-weight: 100;
}

.projectsContainer {
  width: 880px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a:link {text-decoration: none;   color: #59922E; }
a:visited {text-decoration: none;  color: #59922E;}
a:hover {text-decoration: none;  color: #59922E;}
a:active {text-decoration: none;  color: #59922E;}