.carouselContainer {
  width: 100%;
  margin-top: 20px;
  display:flex;
  justify-content: center;
}

a:link {text-decoration: none;   color: #59922E; }
a:visited {text-decoration: none;  color: #59922E;}
a:hover {text-decoration: none;  color: #59922E;}
a:active {text-decoration: none;  color: #59922E;}